.app-container{
    display: flex;
    flex-direction: column;
}

.body{
    display: flex;
    place-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    height: 90vh;
}