.conteudoDois-container{
    height: 50vh;
    width: 100%;
    display: flex;
}

.img-placa{
    height: 100%;
}

.text-container{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

p{
    font-size: 1.8em ;
    color: aliceblue;
    width: 40%;
}