.Header{
    background-color: rgb(132, 0, 255);
    letter-spacing: 50px;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-weight: bold;
}