.conteudoUm-container {
    width: 100%;
    height: auto;
    background-color: var(--cor-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

p {
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

p strong {
    color: rgb(255, 140, 174);
    font-weight: bold;
    display: block;
    margin: 20px 0 10px;
}

p em {
    font-style: italic;
}

p::before {
    content: "📣 ";
    font-size: 20px;
}
